* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #dadada;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    padding: 10px 20px;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-country {
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1 {
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: grey;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.nav-search-category p {
    font-size: 13px;
    width: 130px;
}

.nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.nav-text {
    margin-left: 15px;
    cursor: pointer;
}

.nav-text p {
    font-size: 12px;
    ;
}

.nav-text h1 {
    font-size: 14px;
}

.nav-cart {
    display: flex;
    align-items: end;
    margin: 0 15px;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.nav-bottom div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.header-slider ul {
    display: flex;
    list-style: none;
    overflow-y: hidden;


}

.header-slider a {
    position: absolute;
    top: 30%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 50px;
    padding: 4vh 1vw;
    background: #ffffff4f;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.control-prev {
    left: 5px;

}

.control-next {
    right: 5px;

}

.header-img {
    width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider ul img {
    display: none;
}

.header-slider ul img.displaySlide {
    display: block;
}

.box-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.box-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-width: 200px;
    z-index: 1;
}

.box-col a {
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}

.header-box {
    margin-top: -20vw;
}

.product-slider {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.product-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.product-slider .products img {
    width: 175px;
    max-height: 175px;
}

.product-slider .products::-webkit-scrollbar {
    display: none;
}

.products-slider-with-price {
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider-with-price .products {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.products-slider-with-price .products::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
    padding: 0 20px;
}

.product-card img {
    width: 150px;
    margin: 0 50px;
}

.product-offer p {
    background-color: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}

.product-offer span {
    color: #be0b3b;
    font-weight: 500;
    font-size: 14px;
}

.product-price {
    color: grey;
    font-size: 13px;
}

.product-card h4 {
    color: #525252;
    font-size: 14px;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 20px 60px;
}


/* ---------- media query ---------- */

@media only screen and (max-width: 900px) {

    nav {
        flex-wrap: wrap;
    }

    .nav-search {
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
        
    }

    .box-col {
        max-width: 48%;
    }

    .nav-bottom{
        display:flex;
        align-items: center;
        font-size: 10px;
        gap: 10px;
        overflow-x: scroll;
    }

}

@media only screen and (max-width: 600px) {

    .nav-country {
        display: none;
    }

    .nav-language{
        display: none;
    }

    .nav-text{
        display: none;
    }

 /*    .nav-bottom{
        display:flex;
        align-items: center;
        font-size: 10px;
        gap: 10px;
        overflow-x: scroll;
    } */

    .nav-bottom::-webkit-scrollbar{
        display: none;
    }

    .nav-bottom p{
        text-wrap: nowrap;
    }

    .mobile-user-icon{
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
    }

    .mobile-user-icon img{
        width: 25px;
    }

    nav{
        padding: 8px;
    }

    .nav-search-category p{
        width:fit-content;
        font-size: 12px;
        padding: 0px 0px;
    }

    .nav-search-icon{
        padding: 6px 0;
    }

    .nav-cart h4{
        display: none;
    }

    .nav-cart img{
        width: 30px;
    }

    .header-slider a{
        top: 35%;
        padding: 2vh 1vw;
        font-size: 15px;
    }

    .box-col{
        max-width: 100%;
        width: 100%;

    }

    footer{
        justify-content: center;
        flex-direction: column;
        font-size: 10px;
    }


}